In [1]:
import numpy as np
import pandas as pd
import pickle
from scipy.sparse import csr_matrix

from models.group_recommender_mf import GroupRecommenderMF
from models.explicit_mf_with_bias import SGDExplicitBiasMF

In [2]:
anime_df = pd.read_csv("../../data/anime.csv")

In [3]:
group_mf = GroupRecommenderMF(
    full_model_file_path = "../../data/model_sgd_mf_v4_50__1666837325.pkl",
    item_encoder_file_path="../../data/anime_encoder.csv")

In [4]:
group_mf.item_vecs.shape

(5569, 128)

In [5]:
group_mf.item_encoder_df

      original_id  encoded_id
0               1           0
1               6           1
2               7           2
3               8           3
4              15           4
...           ...         ...
5564        45615        5564
5565        45616        5565
5566        46000        5566
5567        47398        5567
5568        48177        5568

[5569 rows x 2 columns]

In [6]:
group_rating_df = pd.read_csv("../../data/group_rating_real.csv")
group_rating_df.columns = ["user_name", "item_id", "rating"]
group_rating_df

          user_name  item_id  rating
0              Kien       20       9
1              Kien     1735       8
2              Kien      918      10
3              Kien       21       6
4              Kien    30276      10
5              Kien    25777      10
6              Kien    40028       9
7       Ajay Friend    30276      10
8       Ajay Friend       20       9
9       Ajay Friend     1735       8
10      Ajay Friend     1535       9
11      Ajay Friend    16498      10
12      Ajay Friend    22319       8
13      Ajay Friend    11757       5
14    Lily‘s friend    16498       8
15    Lily‘s friend      228       5
16    Lily‘s friend    28977       8
17    Lily‘s friend    37991       9
18    Lily‘s friend     4081       6
19           Tanmay    16498      10
20           Tanmay    38000       7
21           Tanmay        1       7
22  Tanmay's friend     1575       9
23  Tanmay's friend    16498       8
24  Tanmay's friend    38000       7
25  Tanmay's friend     9253       6
26  Tanmay's friend      121       5
27  Tanmay's friend     2167       4
28  Tanmay's friend    37105       2
29  Tanmay's friend      136       1
30            Chase      136      10
31            Chase    16498       9
32            Chase    30276       5
33            Chase    38000       8
34            Chase     1535       9
35            Chase      121      10

In [7]:
# Try different regularization parameters
for reg in [1e-2, 1e-1, 1, 1e1, 1e2]:
    rec_type = "virtual_user"
    agg_method = "mean"
    recommendations = group_mf.recommend_group(group_rating_df, reg=reg, 
        rec_type=rec_type, agg_method=agg_method)
    print("reg = {}, rec_type = {}, agg_method = {}".format(reg, rec_type, agg_method))
    print(recommendations)

reg = 0.01, rec_type = virtual_user, agg_method = mean
   recommendation_score       Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0             20.460308  19.602449     7.354350       7.425789  7.006823
1             19.812627  15.675646     7.997404       7.553798  7.833024
2             18.890997  16.336947     8.290082       8.129752  7.947976
3             18.569657  17.894413     7.466569       7.823185  7.135932
4             18.528714  14.671626     7.664979       7.671208  7.177290
5             18.012909  17.515401     8.616562       8.365803  7.971952
6             17.627740  11.115469     8.077318       7.571617  7.433633
7             17.419138  16.792185     8.778013       7.467039  8.365394
8             17.353638  15.918980     8.629981       7.498418  8.536153
9             17.326561  18.099235     8.788678       8.319542  8.270039

   Tanmay's friend     Chase  item_id
0         9.296360  6.515234    16774
1         6.561991  8.616257      232
2         8.492101  8.720401      440
3         9.519616  7.401152    16201
4         9.096289  7.857839      323
5         7.985231  8.453879      467
6         7.500747  7.448511      530
7         7.232182  8.377803     2251
8         8.175381  8.162832     1818
9         8.119285  8.667248      801
reg = 0.1, rec_type = virtual_user, agg_method = mean
   recommendation_score      Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0             11.896230  8.271053     7.665685       7.670717  7.178504
1             11.651362  9.772717     8.628248       7.500288  8.534651
2             11.563226  8.568432     7.760050       7.072146  8.004663
3             11.555211  8.998167     8.536415       8.199654  8.147233
4             11.488521  9.115048     8.289707       8.129625  7.948229
5             11.431463  8.300887     8.239428       7.609509  8.216192
6             11.270086  8.201102     8.076641       7.571147  7.434455
7             11.252880  7.202339     8.617332       8.524903  8.124537
8             11.036303  8.355593     8.068885       7.497408  7.475514
9             10.878908  8.573069     7.466870       7.821158  7.136211

   Tanmay's friend     Chase  item_id
0         9.086635  7.857496      323
1         8.172880  8.162738     1818
2         8.174688  8.150720       64
3         9.358617  7.650616      790
4         8.488547  8.719007      440
5         9.336841  8.147933     7724
6         7.499062  7.448997      530
7         8.386366  8.866123       30
8         7.707784  7.866207      996
9         9.509055  7.401655    16201
reg = 1, rec_type = virtual_user, agg_method = mean
   recommendation_score      Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0             10.854972  7.982945     8.233891       7.620590  8.211658
1             10.745583  8.054483     8.611311       8.517568  8.127477
2             10.531300  8.472874     8.476894       7.372219  8.182655
3             10.276055  6.311831     6.383707       6.063359  6.653133
4             10.201239  8.673754     8.611553       7.518127  8.520127
5             10.021067  7.226166     7.672293       7.666286  7.190326
6              9.965378  7.608402     7.754538       7.081450  7.997534
7              9.919194  8.369005     8.530808       8.205743  8.147707
8              9.819855  6.948370     6.870567       7.435586  7.684697
9              9.739498  8.488874     8.699859       8.462360  8.389898

   Tanmay's friend     Chase  item_id
0         9.236191  8.147362     7724
1         8.331187  8.851320       30
2         9.886779  7.679634    32995
3         9.574590  6.222033     6500
4         8.149425  8.161757     1818
5         8.997274  7.854170      323
6         8.115582  8.137982       64
7         9.328466  7.669317      790
8         8.046681  7.366446     6707
9         8.846288  8.555930     9756
reg = 10.0, rec_type = virtual_user, agg_method = mean
   recommendation_score      Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0              9.461059  9.788355     9.519773       9.149480  9.368708
1              9.408915  8.525728     8.412191       7.547120  8.194691
2              9.316522  9.446275     9.079084       8.614112  9.015830
3              9.218461  8.133214     8.195978       7.705189  8.178213
4              9.096197  8.348523     8.566843       8.471470  8.156147
5              8.998776  8.530320     8.489033       7.640982  8.411728
6              8.861280  8.406676     8.482839       8.233673  8.153430
7              8.844560  8.593721     8.676833       8.460164  8.409657
8              8.839153  7.822680     7.949794       7.973026  8.150549
9              8.813758  8.398919     8.312774       8.686432  8.356330

   Tanmay's friend     Chase  item_id
0         7.751850  9.244020    38524
1         9.236232  7.792994    32995
2         7.715223  8.780426    35760
3         8.682986  8.140785     7724
4         8.109899  8.743853       30
5         8.011350  8.150217     1818
6         9.057931  7.802222      790
7         8.406661  8.557127     9756
8         8.559405  8.307718      322
9         8.435944  8.845522     1210
reg = 100.0, rec_type = virtual_user, agg_method = mean
   recommendation_score      Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0              9.203213  9.280361     9.202760       9.053230  9.149235
1              8.945205  9.098968     9.156579       9.031028  9.042887
2              8.883415  9.331473     9.350581       9.092971  9.208721
3              8.815798  8.846853     8.736531       8.546504  8.713110
4              8.795441  9.030893     8.979178       8.923621  8.985951
5              8.768391  9.375951     9.254923       8.928995  9.164097
6              8.726217  9.028918     9.037487       8.934107  8.995561
7              8.714572  8.964464     9.003537       8.901112  8.920799
8              8.705533  9.269190     9.154675       8.856880  9.054233
9              8.700092  8.990612     8.984034       8.874707  8.929252

   Tanmay's friend     Chase  item_id
0         8.609484  9.082772    38524
1         8.828987  9.128878     2921
2         8.594758  9.424816     5114
3         8.255705  8.615760    35760
4         8.695801  8.964490     2904
5         8.530926  9.160532     9969
6         8.682574  9.037873    35180
7         8.734247  8.985650    33095
8         8.499054  9.039355    15417
9         8.568166  8.954573    12431

In [8]:
# Try different recommendation types (rec_type)
for rec_type in ["virtual_user", "combine_recommender"]:
    reg = 1
    agg_method = "mean"
    recommendations = group_mf.recommend_group(group_rating_df, reg=reg, 
        rec_type=rec_type, agg_method=agg_method)
    print("reg = {}, rec_type = {}, agg_method = {}".format(reg, rec_type, agg_method))
    print(recommendations)

reg = 1, rec_type = virtual_user, agg_method = mean
   recommendation_score      Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0             10.854972  7.982945     8.233891       7.620590  8.211658
1             10.745583  8.054483     8.611311       8.517568  8.127477
2             10.531300  8.472874     8.476894       7.372219  8.182655
3             10.276055  6.311831     6.383707       6.063359  6.653133
4             10.201239  8.673754     8.611553       7.518127  8.520127
5             10.021067  7.226166     7.672293       7.666286  7.190326
6              9.965378  7.608402     7.754538       7.081450  7.997534
7              9.919194  8.369005     8.530808       8.205743  8.147707
8              9.819855  6.948370     6.870567       7.435586  7.684697
9              9.739498  8.488874     8.699859       8.462360  8.389898

   Tanmay's friend     Chase  item_id
0         9.236191  8.147362     7724
1         8.331187  8.851320       30
2         9.886779  7.679634    32995
3         9.574590  6.222033     6500
4         8.149425  8.161757     1818
5         8.997274  7.854170      323
6         8.115582  8.137982       64
7         9.328466  7.669317      790
8         8.046681  7.366446     6707
9         8.846288  8.555930     9756
reg = 1, rec_type = combine_recommender, agg_method = mean
   recommendation_score       Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0              9.163340  10.058645     9.627825       9.208249  9.446061
1              8.961928   9.411583     9.527676       8.485944  9.067421
2              8.926738   9.055693     9.312295       8.872250  8.987494
3              8.899187   9.037251     8.996379       8.818661  9.031197
4              8.837970   9.745201     9.197233       8.686472  9.128511
5              8.778108   8.925309     9.117612       8.714186  8.966079
6              8.711988   8.774147     9.069067       8.697815  8.809074
7              8.691050   9.024252     9.305442       8.394548  8.853347
8              8.686577   8.919159     9.017130       8.084073  8.871408
9              8.685509   8.408205     8.694580       8.368869  8.691821

   Tanmay's friend     Chase  item_id
0         7.312110  9.327148    38524
1         7.545632  9.733310     5114
2         8.081477  9.251218     2921
3         8.531909  8.979723     2904
4         7.411817  8.858588    35760
5         7.832309  9.113153    35180
6         7.905201  9.016623    33095
7         7.359210  9.209505       19
8         8.322740  8.904953    24701
9         8.914167  9.035410    13125

In [10]:
# Try different agg_method (rec_type)
for agg_method in ["min", "mean", "max"]:
    reg = 1
    rec_type = "combine_recommender"
    recommendations = group_mf.recommend_group(group_rating_df, reg=reg, 
        rec_type=rec_type, agg_method=agg_method, k=20)
    print("reg = {}, rec_type = {}, agg_method = {}".format(reg, rec_type, agg_method))
    print(recommendations)

reg = 1, rec_type = combine_recommender, agg_method = min
    recommendation_score      Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0               8.531909  9.037251     8.996379       8.818661  9.031197
1               8.389898  8.488874     8.699859       8.462360  8.389898
2               8.368869  8.408205     8.694580       8.368869  8.691821
3               8.209148  9.010242     9.153101       8.729383  8.600528
4               8.204586  8.204586     8.262421       8.729112  8.325559
5               8.199704  8.409818     8.536208       8.797864  8.561612
6               8.170332  8.324277     8.600052       8.621617  8.328987
7               8.133889  8.814287     8.787680       8.335666  8.277312
8               8.099070  8.739240     9.049786       8.349207  8.585627
9               8.085188  8.099900     8.476505       8.311946  8.086816
10              8.084073  8.919159     9.017130       8.084073  8.871408
11              8.082335  8.128582     8.463339       8.307932  8.108444
12              8.081477  9.055693     9.312295       8.872250  8.987494
13              8.054483  8.054483     8.611311       8.517568  8.127477
14              8.051458  8.051458     8.349826       8.184438  8.090418
15              8.051184  8.729070     8.955505       8.489223  8.757915
16              8.045233  8.320183     8.404472       8.045233  8.551095
17              8.039175  8.205127     8.618680       8.358174  8.103524
18              8.020393  8.123551     8.405385       8.160676  8.281029
19              8.018634  8.411950     8.590049       8.475921  8.187535

    Tanmay's friend     Chase  item_id
0          8.531909  8.979723     2904
1          8.846288  8.555930     9756
2          8.914167  9.035410    13125
3          8.388596  8.209148    34599
4          8.466866  8.902664     1210
5          8.270240  8.199704    31043
6          8.717764  8.170332     9989
7          8.133889  8.667933      801
8          8.514458  8.099070    22135
9          8.257316  8.085188    39792
10         8.322740  8.904953    24701
11         8.082335  8.514369     7785
12         8.081477  9.251218     2921
13         8.331187  8.851320       30
14         8.471045  8.309645     3701
15         8.051184  8.840661    37208
16         9.390120  8.241907     6594
17         8.418200  8.039175    23327
18         8.020393  8.246206     6774
19         8.018634  8.064329    33486
reg = 1, rec_type = combine_recommender, agg_method = mean
    recommendation_score       Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0               9.163340  10.058645     9.627825       9.208249  9.446061
1               8.961928   9.411583     9.527676       8.485944  9.067421
2               8.926738   9.055693     9.312295       8.872250  8.987494
3               8.899187   9.037251     8.996379       8.818661  9.031197
4               8.837970   9.745201     9.197233       8.686472  9.128511
5               8.778108   8.925309     9.117612       8.714186  8.966079
6               8.711988   8.774147     9.069067       8.697815  8.809074
7               8.691050   9.024252     9.305442       8.394548  8.853347
8               8.686577   8.919159     9.017130       8.084073  8.871408
9               8.685509   8.408205     8.694580       8.368869  8.691821
10              8.681833   9.010242     9.153101       8.729383  8.600528
11              8.659184   8.963073     9.077488       8.704221  8.896963
12              8.639291   8.674361     8.849827       8.690381  8.768818
13              8.637260   8.729070     8.955505       8.489223  8.757915
14              8.614837   8.781775     8.990864       8.549291  8.722579
15              8.599806   8.636265     8.638716       8.658937  8.887861
16              8.594710   8.691857     8.916878       8.557746  8.731999
17              8.575783   9.926534     9.375883       7.903228  9.102958
18              8.575511   8.787917     8.984833       7.940638  8.741879
19              8.575117   8.748374     8.861210       8.506497  8.765859

    Tanmay's friend     Chase  item_id
0          7.312110  9.327148    38524
1          7.545632  9.733310     5114
2          8.081477  9.251218     2921
3          8.531909  8.979723     2904
4          7.411817  8.858588    35760
5          7.832309  9.113153    35180
6          7.905201  9.016623    33095
7          7.359210  9.209505       19
8          8.322740  8.904953    24701
9          8.914167  9.035410    13125
10         8.388596  8.209148    34599
11         7.290277  9.023085    12431
12         7.986243  8.866118     2257
13         8.051184  8.840661    37208
14         7.804172  8.840340     9996
15         7.551748  9.225310      877
16         7.889278  8.780504     2004
17         6.073038  9.073058     9969
18         8.224028  8.773769    21939
19         7.713411  8.855351     5420
reg = 1, rec_type = combine_recommender, agg_method = max
    recommendation_score       Kien  Ajay Friend  Lily‘s friend    Tanmay  \
0              10.058645  10.058645     9.627825       9.208249  9.446061
1               9.965230   7.056763     7.597733       6.985333  7.507079
2               9.926534   9.926534     9.375883       7.903228  9.102958
3               9.886779   8.472874     8.476894       7.372219  8.182655
4               9.802084   9.802084     9.285530       7.923997  8.966083
5               9.745201   9.745201     9.197233       8.686472  9.128511
6               9.733310   9.411583     9.527676       8.485944  9.067421
7               9.641880   9.540211     9.641880       8.739895  9.048976
8               9.637358   9.637358     9.227935       8.053818  8.832061
9               9.574590   6.311831     6.383707       6.063359  6.653133
10              9.409896   6.994213     7.469704       7.802008  7.139057
11              9.390120   8.320183     8.404472       8.045233  8.551095
12              9.373680   8.493848     8.793301       9.373680  8.476331
13              9.328466   8.369005     8.530808       8.205743  8.147707
14              9.312295   9.055693     9.312295       8.872250  8.987494
15              9.305442   9.024252     9.305442       8.394548  8.853347
16              9.286472   9.243381     9.286472       8.898720  8.455169
17              9.264074   6.525842     6.550910       6.755511  6.872373
18              9.261830   9.261830     9.143234       8.639976  9.109296
19              9.236191   7.982945     8.233891       7.620590  8.211658

    Tanmay's friend     Chase  item_id
0          7.312110  9.327148    38524
1          9.965230  6.981326    28825
2          6.073038  9.073058     9969
3          9.886779  7.679634    32995
4          6.325871  8.905723    15417
5          7.411817  8.858588    35760
6          7.545632  9.733310     5114
7          5.012656  9.464030    11061
8          6.197112  8.938216    34096
9          9.574590  6.222033     6500
10         9.409896  7.406387    16201
11         9.390120  8.241907     6594
12         5.718313  8.658043       33
13         9.328466  7.669317      790
14         8.081477  9.251218     2921
15         7.359210  9.209505       19
16         7.220809  7.961405    37510
17         9.264074  6.804613    32379
18         5.582261  9.037659     4181
19         9.236191  8.147362     7724

In [11]:
recommendations.merge(anime_df, left_on="item_id", right_on="MAL_ID", how="inner")[
    ["item_id", "Name", "English name", "recommendation_score"]
]

,item_id,Name,English name,recommendation_score
0,38524,Shingeki no Kyojin Season 3 Part 2,Attack on Titan Season 3 Part 2,10.058645
1,28825,Himouto! Umaru-chan,Himouto! Umaru-chan,9.965230
2,9969,Gintama',Gintama Season 2,9.926534
3,32995,Yuri!!! on Ice,Yuri!!! On ICE,9.886779
4,15417,Gintama': Enchousen,Gintama:Enchousen,9.802084
5,35760,Shingeki no Kyojin Season 3,Attack on Titan Season 3,9.745201
6,5114,Fullmetal Alchemist: Brotherhood,Fullmetal Alchemist:Brotherhood,9.733310
7,11061,Hunter x Hunter (2011),Hunter x Hunter,9.641880
8,34096,Gintama.,Gintama Season 5,9.637358
9,6500,Seikon no Qwaser,The Qwaser of Stigmata,9.574590
10,16201,Aku no Hana,Flowers of Evil,9.409896
11,6594,Katanagatari,Katanagatari,9.390120
12,33,Kenpuu Denki Berserk,Berserk,9.373680
13,790,Ergo Proxy,Ergo Proxy,9.328466
14,2921,Ashita no Joe 2,Rocky Joe 2,9.312295
15,19,Monster,Monster,9.305442
16,37510,Mob Psycho 100 II,Mob Psycho 100 II,9.286472
17,32379,Berserk,Berserk,9.264074
18,4181,Clannad: After Story,Clannad ~After Story~,9.261830
19,7724,Shiki,Shiki,9.236191